<div class="main_component">
    <h1>Új pertner</h1>
    <div class="div-flex">
        <form class="basic" id="basic" [formGroup]="detailsForm" (ngSubmit)="save()">
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Név*</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Ország</mat-label>
                <input matInput formControlName="country">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Irányítószám</mat-label>
                <input matInput formControlName="ZIPcode">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Város</mat-label>
                <input matInput formControlName="town">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Utca, házszám</mat-label>
                <input matInput formControlName="street">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Adószám</mat-label>
                <input matInput formControlName="taxNumber">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Számlaszám</mat-label>
                <input matInput formControlName="accountNumber">
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
            <mat-label>Ügyfél típus:</mat-label>
            <mat-select formControlName="type">
                <mat-option value="Vásárló">Vásárló</mat-option>
                <mat-option value="Beszállító">Beszállító</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" [color]="'accent'">
                <mat-label>Megjegyzés</mat-label>
                <input matInput formControlName="comment">
            </mat-form-field>
            
        </form>
    </div>
    <p>{{text}}</p>
</div>
<button class="buttons" mat-raised-button  color="primary" type="submit"  (click)="cancel()"> Mégse </button>
<button class="buttons" mat-raised-button  color="primary" type="submit" form="basic"  > Mentés </button>
