div{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
#delivery-note{
  border-style: double none double none;
}
h1{
  text-align: center;
  text-decoration: double;
}
p{
  text-align: center;
}
table {
  width: 100%;
}
.mat-header-cell, .mat-cell, .mat-footer-row {
  justify-content: center; 
  text-align: center;
}
tr.mat-footer-row {
  font-weight: bold;
}

div .sign-box{
  text-align: center;
  border-top: solid 1px;
  margin: 5%;
  width: 40%;
}
.out-sign-box{
  display: inline-flex;
  width: 100%;
}
button {
  margin: 5%;
  width: 40%;
}