<div id="delivery-note">
    <h1>Árú kísérő (kimenő)</h1>
    <p>Bizonylat szám: xxxx-xx-xxxx <br> Vevő: Példa János<br> Dátum: 2022.10.11. <br> Áfa: 0%</p>
    <table>
        <tr>
          <th>Cikkszám</th>
          <th>Megnevezés</th>
          <th>Mennyiség</th>
          <th>Egység ár</th>
          <th>Fizetendő összeg</th>
        </tr>
        <tr>
          <td>nco/034</td>
          <td>venezia prt</td>
          <td>8.00m</td>
          <td>1700</td>
          <td>13 600</td>
        </tr>
        <tr>
          <td>nco/034</td>
          <td>venezia prt</td>
          <td>8.00m</td>
          <td>1700</td>
          <td>13 600</td>
        </tr>
        <tr >
          <td></td>
          <td></td>
          <td class="sum">16.00m</td>
          <td></td>
          <td class="sum">27 200</td>
        </tr>
      </table>
      <div>
        <div class="sign-box">

        </div>
        <div class="sign-box">
            
        </div>
      </div>
</div>
<button printSectionId="delivery-note"  ngxPrint>Print This Page</button>