<p>db-loader works!</p>
<table>
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>Termékek feltöltése az adatbázisba. Jelenleg {{productsLength}} elem vár betöltésre.</td>
        <td><button mat-raised-button color="primary" (click)="loadProducts()">Betöltés</button></td>
    </tr>
    <tr>
        <td>Ügyfelek feltöltése az adatbázisba. Jelenleg {{custamers.length}} elem vár betöltésre.</td>
        <td><button mat-raised-button color="primary"  (click)="loadCustomer()">Betöltés</button></td>
    </tr>
    
</table>