<div class="main_component">
    <div class="div-flex">
        <h1>Belépés</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label for="username">Felhasználó név</mat-label>
                <input matInput type="text" formControlName="username" />
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó</mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <div>
                <span class="buttons">
                    <button mat-raised-button color="primary" type="submit">Bejelentkezés</button>
                </span>
            </div>
        </form>
    </div>
</div>