.div-flex {
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}
table {
  width:100%;
}

.mat-header-cell, .mat-cell {
  justify-content: center; 
  text-align: center;
}
mat-form-field {
  margin-left: 2.5%;
  margin-top: 3%;
  padding: 2%;
}
.button {
  border-left: 5%;
  margin-left: 2.5%;
  border: 2%;
  width: auto;
}