
<div class="filter">
    <form class="basic" id="basic" [formGroup]="detailsForm" (ngSubmit)="search()">
        <mat-form-field appearance="fill" [color]="'accent'">
            <mat-label for="companyName" >Ügyfél</mat-label>
                <input type="text"
                    matInput
                    formControlName="companyName"
                    [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" appearance="fill">
                <mat-option *ngFor="let option of filteredCustomer | async" [value]="option.companyName">
                    {{option.companyName}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
       
        <mat-form-field appearance="fill" [color]="'accent'">
            <mat-label>Dátum</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" [color]="'accent'">
            <mat-label for="productNumber" >Cikkszám</mat-label>
            <input type="text"
                matInput
                formControlName="productNumber"
                [matAutocomplete]="autos">
            <mat-autocomplete #autos="matAutocomplete" appearance="fill">
                <mat-option *ngFor="let option of filteredProducts | async" [value]="option.number">
                    {{option.number}}
                </mat-option>
            </mat-autocomplete>
         </mat-form-field>
        <mat-radio-group formControlName="type">
            <mat-radio-button value="outgoing" checked="checked" >Kimenő</mat-radio-button>
            <mat-radio-button value="incoming">Bejövő</mat-radio-button>
        </mat-radio-group>

        <span class="button">
            <button mat-raised-button color="primary" type="submit" >Keresés</button>
        </span>
    </form>
</div>

<table mat-table [dataSource]="deliveryNotes">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Azonosító </th>
        <td mat-cell *matCellDef="let element" > <button mat-button  (click)="goToProductDetails(element.id)">{{element.number}}</button> </td>
        <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Dátum </th>
        <td mat-cell *matCellDef="let element"> {{element.date.toMillis() | date: 'yyyy/MM/dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="custamer">
        <th mat-header-cell *matHeaderCellDef> Ügyfél </th>
        <td mat-cell *matCellDef="let element"> {{ element.customerId }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>

