
<nav mat-tab-nav-bar>
    <a mat-tab-link
    routerLink="./deliveryNoteList"
    routerLinkActive #rla="routerLinkActive"
    (click)="activeLink = 'A'"
      [active]="activeLink == 'A'">
    Szállító levél
  </a>
    <a mat-tab-link
    routerLink= "./products"
    routerLinkActive #rla="routerLinkActive"
    (click)="activeLink = 'B'"
      [active]="activeLink == 'B'">
    Készlet
  </a>
  <a mat-tab-link
    routerLink="./customer"
    routerLinkActive #rla="routerLinkActive"
    (click)="activeLink = 'C'"
      [active]="activeLink == 'C'">
    Partnerek
  </a>
</nav> 
<div>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
