mat-form-field {
    margin-left: 2.5%;
  }
.main_component{
  justify-content: center;
}
.div-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.items {
  display: inline;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 5%;
}

.basic{
  display: inline-grid;
  width: 50%;
  align-self: center;
  margin-bottom: 5%;
}
.buttons {
  margin: 5%;
  width: 40%;
}
h1{
  text-align: center;
  padding-bottom: 2%;
}
p{
  text-align: center;
  font-size:medium;
  font-weight: bold;
  color: rgb(232, 10, 121);
}