<nav mat-tab-nav-bar>
    <a mat-tab-link
    routerLink="./outgoing"
    routerLinkActive
     #rla="routerLinkActive"
     mat-tab-link
     (click)="activeLink = 'A'"
      [active]="activeLink == 'A'">
    Kimenő
  </a>
    <a mat-tab-link
    routerLink= "./incoming"
    routerLinkActive
     #rla="routerLinkActive"
     mat-tab-link
     (click)="activeLink = 'B'"
      [active]="activeLink == 'B'">
    Bejövő
  </a>
  <a mat-tab-link
  routerLink= "./newproduct"
  routerLinkActive
     #rla="routerLinkActive"
     mat-tab-link
     (click)="activeLink = 'C'"
      [active]="activeLink == 'C'">
  Új árucikk
  </a>
  <a mat-tab-link
  routerLink= "./newcustomer"
  routerLinkActive
     #rla="routerLinkActive"
     mat-tab-link
     (click)="activeLink = 'D'"
      [active]="activeLink == 'D'">
  Új partner
  </a>
</nav> 
<div>
    <mat-card>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
